body {
    background-color: #222;
}
main {
    background-color: #222;
    display: grid;
    place-items: center;
    margin-top: 30px;
}
.row {
    display: flex;
    background-color: rgb(57, 85, 243);
}
.cube {
    display: inline-flex;
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.players {
    background-color: #222;
    display: flex;
    place-items: center;
    margin-top: 30px;
}
button {
    margin:10px
}
.btn {
    border: 3px solid;
}
.button1 {
    color: #000;
    background-color: #fff;
    border-color: #dc3545;
}
.button2 {
    color: #000;
    background-color: #fff;
    border-color:#0059ff ;
}
h4 {
    color: white;
    margin-bottom: 10px;
}
.span {
    height: 60px;
    width: 260px;
    margin-bottom: 20px;
}
.footer {
    position: absolute;
    margin: 30px;
    margin-bottom: 10px;
    bottom: 0;
}
footer p {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}